﻿@model BingoLCS.Models.ViewModel.BingoViewModel

@{
    ViewData["Title"] = "Judeu YGO";
}
<div class="text-center m-4">
    <h1 class="">JudeuYGO - Bingo YCS</h1>
</div>
<div class="col-12 d-flex justify-content-center px-0">
    <div class="col-md-7 px-0">
        <table class="table" id="bingo">
            <tr>
                <td id="1" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-1" />
                    <label>@Model.CartelaDoBingo.Values.ElementAt(0)</label>
                </td>
                <td id="2" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-2" />
                    @Model.CartelaDoBingo.Values.ElementAt(1)
                </td>
                <td id="3" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-3" />
                    @Model.CartelaDoBingo.Values.ElementAt(2)
                </td>
                <td id="4" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-4" />
                    @Model.CartelaDoBingo.Values.ElementAt(3)
                </td>
                <td id="5" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-5" />
                    @Model.CartelaDoBingo.Values.ElementAt(4)
                </td>
            </tr>
            <tr>
                <td id="6" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-6" />
                    @Model.CartelaDoBingo.Values.ElementAt(5)
                </td>
                <td id="7" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-7" />
                    @Model.CartelaDoBingo.Values.ElementAt(6)
                </td>
                <td id="8" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-8" />
                    @Model.CartelaDoBingo.Values.ElementAt(7)
                </td>
                <td id="9" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-9" />
                    @Model.CartelaDoBingo.Values.ElementAt(8)
                </td>
                <td id="10" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-10" />
                    @Model.CartelaDoBingo.Values.ElementAt(9)
                </td>
            </tr>
            <tr>
                <td id="11" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-11" />
                    @Model.CartelaDoBingo.Values.ElementAt(10)
                </td>
                <td id="12" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-12" />
                    @Model.CartelaDoBingo.Values.ElementAt(11)
                </td>
                <td class="p-0 dark">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/b1de5a52-ca5b-4012-9bc7-34cc8352cde0-profile_image-300x300.png" class="image"/>
                </td>
                <td id="13" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-13" />
                    @Model.CartelaDoBingo.Values.ElementAt(12)
                </td>
                <td id="14" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-14" />
                    @Model.CartelaDoBingo.Values.ElementAt(13)
                </td>
            </tr>
            <tr>
                <td id="15" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-15" />
                    @Model.CartelaDoBingo.Values.ElementAt(14)
                </td>
                <td id="16" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-16" />
                    @Model.CartelaDoBingo.Values.ElementAt(15)
                </td>
                <td id="17" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-17" />
                    @Model.CartelaDoBingo.Values.ElementAt(16)
                </td>
                <td id="18" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-18" />
                    @Model.CartelaDoBingo.Values.ElementAt(17)
                </td>
                <td id="19" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-19" />
                    @Model.CartelaDoBingo.Values.ElementAt(18)
                </td>
            </tr>
            <tr>
                <td id="20" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-20" />
                    @Model.CartelaDoBingo.Values.ElementAt(19)
                </td>
                <td id="21" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-21" />
                    @Model.CartelaDoBingo.Values.ElementAt(20)
                </td>
                <td id="22" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-22" />
                    @Model.CartelaDoBingo.Values.ElementAt(21)
                </td>
                <td id="23" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-23" />
                    @Model.CartelaDoBingo.Values.ElementAt(22)
                </td>
                <td id="24" class="p-1 align-middle">
                    <img src="https://iconsplace.com/wp-content/uploads/_icons/ff0000/256/png/letter-x-icon-14-256.png" class="x collapse" id="x-24" />
                    @Model.CartelaDoBingo.Values.ElementAt(23)
                </td>
            </tr>
        </table>
        <h6><a href="https://www.twitch.tv/judeuygo">JudeuYGO</a> - Twitch <br /> <a href="https://www.youtube.com/channel/UCtOG021T90ZrISj0UQNVWwA">JudeuYGO</a> - Youtube</h6>
        <hr />
        <h6>Copyright © @DateTime.Now.Year - Gustavo Felix</h6>
    </div>
</div>